header{
    background-color: rgba(0, 0, 0, 0.788);
    color: rgb(255, 255, 255);
    font-style: italic;
    display: block;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    background-color:  rgba(0, 0, 0, 0.541);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;

}

#profilepic{
    width: 30%;
    border: 5px solid rgb(0, 0, 0);
}

h2{
    display: flex;
    margin-top: 50px;;
    justify-content: center;
    color: rgb(252, 252, 252);
    background-color: rgba(0, 0, 0, 0.863);
}

#aboutMe{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 50%;
    
}

p{
    width: 40%;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.541);
    color: rgb(255, 255, 255);
}

#work{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#repositoryImage{
    width:300px;
}

#placeholder{
    width:300px;
}

#repositoryImage:hover{
    width: 450px;
}

#placeholder:hover{
    width: 450px;
}

#contactMe{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(8, 8, 8, 0.541);
    height: 50px;
}

a{
    color: rgb(255, 255, 255);
}



body{
    background-image: url(https://wallpaperaccess.com/full/1286235.jpg);
}

@media screen and (max-width: 1150px) {
    #aboutMe, 
    #work,
    #contactMe {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
    #aboutMe, 
    #work,
    #contactMe {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 500px) and (max-height: 700px) {
    #aboutMe, 
    #work,
    #contactMe {
        flex-direction: column;
        align-items: center;
    }

    header,
    nav,
    h2,
    #contactMe{
        margin-right: -145px;
    }

    p{
        margin-left: 150px;
        width: 60%;
    }

    #profilepic{
        width: 400px;
        margin-left: 150px;

    }
}